@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro:500');

html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::-webkit-scrollbar {
	background:transparent;
	width:10px;
}
::-webkit-scrollbar-track {
	background:transparent;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .5);
}

body {
	padding: 16px;
	overflow: auto;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 0;
	font-weight: 600;
	line-height: 1.5;
	color: rgb(85, 85, 85);
	text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
	background-image: url('island.jpg');
	background-size: cover;
}

body:before {
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.wrapper {
	font-size: 14px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 800px;
	background: #DEDEDE;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

header, section, footer {
	display: block;
}

a {
	color: #069;
	text-decoration: none;
}

p {
	margin: 0 0 20px;
	padding: 0;
}

strong {
	color: #222;
	font-weight: 700;
}

header {
	border-radius: 8px 8px 0 0;
	background: #C6EAFA;
	background: linear-gradient(#ddfbfc, #c6eafa);
	border-bottom: 1px solid #B2D2E1;
}
header h1 {
	margin: 0;
	padding: 0;
	color: #069;
	text-align: center;
	line-height: 2.5;
}

section {
	padding: 15px 20px;
	border-top: 1px solid #fff;
	background: linear-gradient(#fafafa, #dedede 700px);
	border-radius: 0 0 8px 8px;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	padding: 0;
	margin: 0 0 20px;
	line-height: 1.2;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 15px;
	color: #393939;
}

h3, h4, h5, h6 {
	color: #494949;
}

code {
	display: block;
	padding: 20px;
	background: #3A3C42;
	margin: 0 -20px 20px;
	overflow-x:auto;
}

code span::before {
	content: '$ ';
}

code span {
	display: block;
	white-space: nowrap;
	line-height: 1.5;
	text-shadow: none;
	color: #f8f8f2;
	font-family: "Source Code Pro";
	font-size: 14px;
	font-weight: 500;
}

hr {
	border: 0;
	background: rgba(170, 170, 170, 0.3);
	height: 1px;
	margin: 0 0 20px;
}

footer {
	padding: 0;
	margin: 0;
	opacity: .8;
}

.center {
	text-align: center;
}
